.container {
  max-width: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph {
  margin-bottom: 0.5rem;
  margin-top: 0;
  line-height: 1.5;
  color: #333;
}

.paragraph a {
  display: inline;
  color: #3182ce;
  text-decoration: none;
}

.paragraph a:hover {
  text-decoration: underline;
}

.paragraph:last-child {
  margin-bottom: 0;
}

.pic {
  border: 2px #5a67d8 solid;
  border-radius: 50%;
  margin-right: 2rem;
  height: 7rem;
  width: 7rem;
  flex-shrink: 0;
}